:root {
    --mobilize-nav: #001c40;
    --mobilize-text: #ffffff;
    --mobilize-link: #ffffff;
    --mobilize-accent: #f1be46;
}

body {
    overflow-x: hidden;
}
body.mobilize-no-scroll {
    overflow-y: hidden;
}


/**
 * Off-canvas menu
 */
.mobilize-nav * {
    box-sizing: border-box;
}
.mobilize-nav {
    display: none;
    background-color: var(--mobilize-nav);
    z-index: 128;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    transform: translateX(0);
}
.mobilize-nav .mobilize-toggle {
    position: relative;
    color: var(--mobilize-link);
    text-decoration: none;
    font-size: 18px;
    line-height: 1;
    display: inline-block;
    padding: 16px;
}
.mobilize-menu-content .mobilize-toggle {
    color: var(--mobilize-link);
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    margin: 0 0 24px 0;
}
#mobilize-menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 256;
    top: 0;
    right: 0;
    background-color: var(--mobilize-nav);
    color: var(--mobilize-text);
    transition: 750ms cubic-bezier(0.17,0.84,0.44,1) all;
    overflow: hidden;
}

.mobilize-menu-content {
    color: var(--mobilize-text);
    overflow-y: auto;
    height: 100%;
    padding: 48px;
}

.mobilize-menu-content::-webkit-scrollbar {
    width: 8px;
}
.mobilize-menu-content::-webkit-scrollbar-track {
    background-color: #333333;
}
.mobilize-menu-content::-webkit-scrollbar-thumb {
    background-color: #666666;
}
.mobilize-menu-content::-webkit-scrollbar-thumb:window-inactive {
	background-color: #444444;
}

.mobilize-menu-content ul {
    padding: 0;
    margin: 0;
}
.mobilize-menu-content ul.sub-menu {
    margin-left: 16px;
}
.mobilize-menu-content ul.sub-menu li a {
    font-size: 18px;
}

.mobilize-menu-content ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.mobilize-menu-content a {
    text-decoration: none;
    color: var(--mobilize-link);
}
.mobilize-menu-content ul li a {
    text-decoration: none;
    color: var(--mobilize-link);
    font-size: 24px;
    font-weight: 200;
    line-height: 2;
}
.mobilize-menu-content ul li a:hover {
    text-decoration: underline;
}

/**
 * Themes
 */
#mobilize-menu.mobilize-theme-default {
    transform: translateX(var(--mobilize-direction));
    transform-origin: center right;
}

#mobilize-menu.mobilize-theme-modern {
    transform: translateX(var(--mobilize-direction));
    transform-origin: center right;
    box-shadow: inset 16px 0 32px rgb(0 0 0 / 15%);
}
#mobilize-menu.mobilize-theme-modern:before {
    content: "";
    height: 128px;
    width: 24px;
    background-color: var(--mobilize-accent);
    position: absolute;
    top: calc(50% - 64px);
    left: -12px;
    border-radius: 32px;
}



#mobilize-menu.show-nav,
#mobilize-menu.mobilize-theme-default.show-nav,
#mobilize-menu.mobilize-theme-mdoern.show-nav {
    transform: translateX(0);
}

@media all and (max-width: 768px) {
    .mobilize-menu-content ul li a {
        font-size: 20px;
        line-height: 2;
    }
    .mobilize-menu-content ul li.menu-item-inner a {
        font-size: 18px;
    }
}
